<div class="vending-machine">
    <h2>Vending Machine</h2>
  
    <div class="product-list">
      <div *ngFor="let product of products" class="product-card">
        <div class="card">
          <p>Section Id: {{ product.Sectionid }}</p>
          <p>Product Id: {{ product.id }}</p>
          <p>Name : {{ product.name }}</p>
          <p>Price: ₹{{ product.price }}</p>
          <p>Quantity: {{ product.quantity }}</p>
        </div>
      </div>
    </div>
  
    <div class="purchase-product">
      <label for="productId">Select Section:</label>
      <input type="number" id="quantity" [(ngModel)]="selectedSectionId" min="1" />
      <button (click)="purchaseProduct()">Open Door</button>
    </div>
  </div>
  